@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
:root {
  --button-color: #E276E2;
  --primary-color: #ECB4EC;
  --box-color: #C4C4C4;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Inter';
}

body {
  background: #ffffff;
  font-family: 'Inter';
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cursor {
  width: .5em;
  height: .5em;
  border: 1px solid #7c0a7c;
  background: #7c0a7c;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.link-grow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #150522;
  border: 1px solid #070107;
}

.homepage {
  background: -webkit-gradient(linear, left top, left bottom, from(#A67BCA), to(rgba(166, 123, 202, 0)));
  background: linear-gradient(180deg, #A67BCA 0%, rgba(166, 123, 202, 0) 100%);
  width: 100%;
}

.mobile-menu {
  cursor: pointer;
  padding: 0 1em;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 0 2em;
}

.pageline-img {
  padding: 1.5em 0em 0em 2em;
}

.portfolio--hide {
  display: none;
}

.navbar {
  padding: 0 auto;
  margin-bottom: 2em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.2em;
  padding: 1em;
  padding-right: 5em;
  position: relative;
}

.navbar .logo span {
  font-weight: 600;
  font-size: .6em;
  position: absolute;
  top: 3.5em;
  display: block;
}

.navbar nav {
  display: none;
}

.navbar nav .close-menu {
  width: 1.5em;
}

.navbar nav .down-arrow {
  width: 5%;
  margin-left: .3em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.lineheader {
  display: none;
}

section.hero .mainhead {
  font-weight: 800;
  font-size: 31px;
  line-height: 38px;
  margin: .2em;
  text-align: center;
}

section.hero .mainhead span {
  color: #993399;
}

section.hero .hero-img {
  width: 70%;
  -webkit-transform: translate(53.3%, 0px);
          transform: translate(53.3%, 0px);
}

section.hero .hero-cta {
  text-align: left;
  margin-top: -3.3em;
}

section.hero .hero-cta .primary-cta {
  font-weight: 600;
}

section.hero .hero-cta .home-arrow {
  width: 2em;
}

section.hero .hero-cta .primary-cta:hover {
  color: var(--primary-color);
}

section.offers {
  text-align: center;
  margin-top: 1.6em;
}

section.offers h1 {
  font-weight: 800;
  color: var(--button-color);
  font-size: 2em;
  text-align: center;
}

section.offers .offers-list {
  margin-bottom: 50px;
}

section.offers .offers-list a {
  background: var(--button-color);
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

section.offers .offer-list {
  background: var(--box-color);
  width: 200px;
  border-radius: 30px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

section.offers a {
  text-decoration: none;
  font-size: 0.7em;
  line-height: -1em;
  margin-top: 20px;
}

section.offers a span:hover {
  color: var(--primary-color);
}

section.offers .pageline-img {
  margin-top: 1em;
}

section.choose-us .container h2 {
  text-align: center;
  font-weight: 800;
}

section.choose-us .container .chooseus-text {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

section.choose-us .container .chooseus-img {
  width: 300px;
  top: 837px;
}

section.choose-us .container .ourspeciality {
  left: 50px;
  top: 1072px;
  font-weight: 600;
  font-size: 0.7em;
  line-height: 1em;
  text-align: center;
}

section.choose-us .offers-cta {
  margin-top: 1.4em;
  text-align: center;
}

section.choose-us .offers-cta .primaryoffers-cta {
  text-decoration: none;
  font-weight: 600;
}

section.choose-us .offers-cta .learnmore-img {
  padding-left: 0.3em;
}

.primaryoffers-cta:hover {
  color: var(--primary-color);
}

section.recent-projects h3 {
  text-align: center;
}

section.recent-projects .project-container {
  text-align: center;
  margin-bottom: 30px;
}

section.recent-projects .project-container .project-img > img {
  width: 280px;
  margin-bottom: 20px;
}

section.recent-projects .project-container .project-details {
  width: 280px;
  margin: 0 auto;
}

section.recent-projects .project-container .project-details .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.recent-projects .project-container .project-details .project-summary {
  text-align: left;
}

section.recent-projects .carousel {
  overflow: hidden;
  position: relative;
}

section.recent-projects .carousel .project a:hover {
  font-weight: bolder;
}

section.recent-projects .carousel .project img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section.recent-projects .carousel .project img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.recent-projects .carousel .project,
section.recent-projects .project--hidden {
  display: none;
}

section.recent-projects .carousel .project--visible {
  display: block;
  -webkit-animation: fadeVisiblity 0.5s;
          animation: fadeVisiblity 0.5s;
}

section.recent-projects .carousel-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

section.recent-projects .carousel .carousel-actions button {
  cursor: pointer;
  font-size: 1.2em;
  background: var(--box-color);
  border: 0;
  width: 3em;
  height: 3em;
  border-radius: 10em;
}

@-webkit-keyframes fadeVisiblity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: opacity linear;
            transform: opacity linear;
  }
}

@keyframes fadeVisiblity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: opacity linear;
            transform: opacity linear;
  }
}

section.recent-projects .all {
  margin: 0 auto;
}

section.recent-projects .all a.viewall {
  font-weight: 600;
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

section.recent-projects .all a.viewall img {
  padding-left: .5em;
}

section.recent-projects .all .viewall:hover {
  color: var(--primary-color);
}

section.contact .contact-container .form-image {
  display: none;
}

section.contact .contact-form {
  border-radius: 62px;
  width: 220px;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary-color);
}

section.contact .contact-form .contact-title {
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
  padding: 0 1em;
  padding-top: 1em;
}

section.contact .contact-form .container form input {
  font-family: Inter;
  background: white;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-top: .8em;
  margin-bottom: 1.4em;
  width: 220px;
  height: 30px;
  background: #FFFFFF;
  border: white;
  border-radius: 35px;
}

section.contact .contact-form .container form input[type="text"],
section.contact .contact-form .container form input[type="tel"] {
  padding: 10px;
  margin-bottom: 2em;
  margin-top: 1.2em;
}

section.contact .contact-form .container form label.subject,
section.contact .contact-form .container form .budget,
section.contact .contact-form .container form .file {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  margin-left: .3em;
}

section.contact .contact-form .container form label.file {
  font-size: 1em;
}

section.contact .contact-form .container form input[type="submit"] {
  color: white;
  font-size: 1em;
  font-weight: 600;
  background-color: black;
  width: 80px;
  height: 3em;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

section.contact .contact-form .container form input[type="submit"]:hover {
  background: #993399;
}

section.contact .contact-form .container form textarea {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-family: poppins;
}

select {
  margin-top: 1em;
}

.select,
.second {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  margin-bottom: 1.1em;
  font-size: 1em;
  padding: 1em .3em;
  padding-right: 0px;
  padding-left: 1em;
  background-color: #000000;
  color: white;
  border: 0;
  overflow: hidden;
  border-radius: 1.3em;
  cursor: pointer;
}

.second {
  padding: 1em .5em;
  padding-right: 2em;
  padding-left: 1em;
}

select:focus,
select:hover {
  outline: none;
  border: 1px solid #fff;
}

select option {
  background: white;
  color: black;
}

section .thankyou-page {
  border-radius: 52px;
  width: 16em;
  height: 21em;
  background-color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}

section .thankyou-page .thankyou {
  margin-top: 2em;
  text-align: center;
  font-size: 1.8em;
  padding: 1em .2em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section a {
  font-weight: 700;
}

section a img {
  width: 1em;
}

section a a:hover {
  color: var(--primary-color);
}

.text span {
  position: relative;
  display: inline-block;
  -webkit-animation: animate 2s ease-in-out infinite;
          animation: animate 2s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  background: #A67BCA;
  height: 100vh;
  padding: 1em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li {
  float: none;
  margin: 0 !important;
}

nav li a {
  display: block;
  padding: .5em;
  font-size: 1.6em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

nav ul.nav--list-items-drop {
  position: static;
  pointer-events: auto;
  opacity: 1;
  height: 0;
  overflow: hidden;
}

nav ul.nav--list-items-drop a {
  padding-right: 1.5em;
}

nav ul.nav--list-items li:hover > ul.nav--list-items-drop {
  height: auto;
}

.close-menu {
  float: right;
  margin: .5em;
  margin-top: 1.5em;
  cursor: pointer;
}

section.portfolio h3 {
  font-size: 2em;
}

section.portfolio div {
  text-align: center;
  margin: 1em;
  margin-top: 10px;
  cursor: pointer;
}

section.portfolio .projects .project .overlay-text {
  margin-bottom: 1em;
  font-size: .7em;
}

section.portfolio .projects .project img {
  width: 150px;
  cursor: pointer;
}

section.portfolio .projects .project img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.portfolio .quote {
  padding-right: 0;
  margin-bottom: 3em;
  text-align: left;
  margin-left: 0;
}

section.portfolio .moreprojects {
  display: none;
}

section.portfolio .loadmore {
  background-color: var(--button-color);
  padding: 1em;
  margin-bottom: 2em;
  text-align: center;
  border: 0;
  border-radius: 2em;
  outline: none;
  font-size: 1em;
  font-family: 'Inter';
  cursor: pointer;
}

section.portfolio .projects.show-more .moreprojects {
  display: inline;
}

section.services h1 {
  font-family: Inter;
  font-style: Black;
  font-size: 57px;
  line-height: 69px;
  text-align: Center;
  vertical-align: Top;
}

section.services h1 span {
  color: #993399;
}

section.services .serviceslist .servicesall .service .service-icon {
  margin-top: 1em;
  width: 4em;
}

section.services .serviceslist .servicesall .service .service-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 2em;
}

section.services .serviceslist .servicesall .service .service-text {
  margin: 2em 1em;
}

section.services .service-cta .primary-cta {
  font-size: 3.9em;
  text-align: left;
  font-weight: 800;
  margin-bottom: -1.2em;
}

section.services .service-cta .secondary-cta {
  font-size: 4em;
  font-weight: 800;
  text-align: right;
  color: #993399;
}

section.about .about-x .about-title {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
}

section.about .about-x .about-title span {
  color: #993399;
}

section.about .about-x .about-slogan {
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .4em;
  margin-top: -2em;
  margin-bottom: 4em;
}

section.about .about-x .about-text {
  margin-bottom: 7em;
}

section.about .about-x .about-text a:hover {
  color: #993399;
}

section.growth-program .container .info .info-title {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
}

section.growth-program .container .info-slogan {
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .2em;
  margin-top: -2em;
  margin-bottom: 4em;
}

section.growth-program .container .attention {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 2em;
}

section.growth-program .conditions .conditions-title {
  font-weight: 700;
  font-size: 1.8em;
}

section.growth-program .conditions .conditions-text a {
  font-weight: 600;
}

section.growth-program .conditions .conditions-text a:hover {
  color: #993399;
}

section.growth-program .application-approval {
  margin-bottom: 3em;
}

section.growth-program .application-approval .approval-title {
  font-weight: 700;
  font-size: 1.8em;
}

section.growth-program .application-approval .approval-text {
  margin-bottom: 3em;
}

section.growth-program .application-approval a {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background: #993399;
  padding: 1em 1em;
  border-radius: 2em;
  cursor: pointer;
}

section.growth-program .application-approval a:hover {
  padding: 1.2em;
  font-size: 1.4em;
}

.application-header {
  font-size: 1.8em;
  font-weight: 800;
  text-align: left;
  padding: 0 1em;
  padding-top: 1em;
}

.application-header span {
  color: #993399;
}

section.application .application-container .form-image {
  display: none;
}

section.application .application-form {
  background-color: #d7b5f1;
  border-radius: 62px;
  text-align: left;
  width: 220px;
  padding: 20px;
  margin: 2em;
  margin-bottom: 1.5em;
}

section.application .application-form .application-title {
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  padding: 0 1em;
  padding-top: 1em;
}

section.application .application-form .container form input {
  font-family: Inter;
  background: white;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-top: .8em;
  margin-bottom: 1.4em;
  width: 220px;
  height: 30px;
  background: #FFFFFF;
  border: white;
  border-radius: 35px;
}

section.application .application-form .container form input[type="text"],
section.application .application-form .container form input[type="tel"] {
  padding: 10px;
  margin-bottom: 2em;
  margin-top: 1.2em;
}

section.application .application-form .container form label.goal,
section.application .application-form .container form .docs {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  margin-left: .3em;
}

section.application .application-form .container form select {
  margin-top: 1em;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  width: 220px;
  margin-bottom: 1.1em;
  font-size: 1em;
  padding: 1em .3em;
  padding-right: 1.5em;
  padding-left: 1em;
  background-color: #000000;
  color: white;
  border: 0;
  overflow: hidden;
  border-radius: 1.3em;
  cursor: pointer;
}

section.application .application-form .container form select:focus,
section.application .application-form .container form select:hover {
  outline: none;
  border: 1px solid #fff;
}

section.application .application-form .container form select option {
  background: white;
  color: black;
}

section.application .application-form .container form textarea {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-family: poppins;
}

section.application .application-form .container form input[type="submit"] {
  color: white;
  font-size: 1em;
  font-weight: 600;
  background-color: black;
  width: 80px;
  height: 3em;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

section.application .application-form .container form input[type="submit"]:hover {
  background: #7c0a7c;
}

.pay-title {
  margin: 1em;
  text-align: left;
  font-size: 1.8em;
  font-weight: 800;
}

section.payment {
  margin: auto;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
}

section.payment a {
  background: #d7b5f1;
  padding: 1.4em;
  line-height: 3em;
  border-radius: 2em;
  font-weight: 800;
}

section.payment a:hover {
  font-size: 1.08em;
  padding: 1.7em;
  border: solid black;
}

section.payment .program-payment {
  margin-top: 4em;
}

.pay-notice {
  margin: 2em;
  margin-bottom: -3em;
  font-weight: 500;
  font-size: .8em;
}

.pay-notice a {
  font-weight: 800;
}

.pay-notice a:hover {
  color: #7c0a7c;
}

.contact-header .contact-title1 {
  font-weight: 600;
  font-size: 2em;
  margin: 2em 1em;
}

.contact-header .contact-title1 span {
  color: #993399;
}

.contact-header .contact-cta {
  margin: 0 2em;
  font-size: 1.1em;
}

.contact-header .contact-cta a:hover {
  color: #993399;
}

.backhome {
  float: right;
  margin-bottom: 1em;
  margin-right: 1em;
}

.backhome a {
  font-weight: 700;
}

.backhome a img {
  width: 1em;
}

.backhome a:hover {
  color: var(--primary-color);
}

footer {
  background-color: var(--box-color);
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  text-align: center;
  margin-top: auto;
}

footer a {
  text-decoration: none;
}

footer .footer-container {
  margin: auto;
  padding: 0 1em;
  display: inline-block;
  text-align: center;
}

footer .social {
  margin-bottom: 0;
  text-align: center;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5em;
}

footer .copyright {
  text-align: center;
}

footer .copyright .copyright-img {
  width: 1.5em;
}

footer .copyright .copyright-text {
  font-size: 1em;
}

footer .legal {
  margin-top: 1em;
}

footer .legal a {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .close-menu,
  .mobile-menu {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar .logo {
    font-size: 1.5em;
    padding-right: 25em;
    width: 100%;
  }
  .navbar .logo span {
    top: 3.6em;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10%;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: .5em;
  }
  .navbar nav .down-arrow {
    display: none;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    font-size: 1.3em;
    padding: .9em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    position: relative;
  }
  .navbar nav ul.nav--list-items {
    position: relative;
  }
  .navbar nav ul.nav--list-items-drop {
    display: none;
    position: absolute;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #AA7CCF;
    border-radius: 0em 0em .4em .4em;
  }
  .navbar nav ul.nav--list-items li:hover ul {
    display: block;
  }
  .navbar nav ul.nav--list-items-drop li {
    width: 17em;
  }
  .navbar nav ul.nav--list-items-drop li a {
    padding: .7em 2em;
    margin: 0;
    text-align: left;
  }
  .lineheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 320px) {
  section {
    padding: 0 1em;
  }
  .pageline-img {
    padding: .3em 0em 0em .5em;
  }
  .navbar .logo {
    font-size: 1em;
  }
  section.hero .mainhead {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  section.hero .hero-img {
    width: 69%;
  }
  section.hero .hero-cta {
    font-size: .7em;
  }
  img.pageline-img {
    width: 85%;
  }
  section.choose-us .container h2 {
    font-size: 1em;
  }
  section.choose-us .container .chooseus-text {
    font-size: .7em;
    line-height: 18px;
  }
  section.choose-us .container .chooseus-img {
    width: 180px;
  }
  section.choose-us .container .ourspeciality {
    font-weight: 600;
    font-size: 0.5em;
  }
  section.choose-us .offers-cta .primaryoffers-cta {
    font-size: .7em;
  }
  section.choose-us .offers-cta .learnmore-img {
    padding-left: 0.3em;
  }
  .viewall {
    font-size: .7em;
  }
  .backhome {
    margin-top: 2em;
  }
  .backhome a {
    font-size: .7em;
  }
  .backhome a:hover {
    color: var(--primary-color);
  }
  section.recent-projects h3 {
    text-align: center;
  }
  section.recent-projects .project-container {
    text-align: center;
    margin-bottom: 30px;
    font-size: 10px;
  }
  section.recent-projects .project-container .project-img > img {
    width: 150px;
    margin-bottom: 20px;
  }
  section.recent-projects .project-container .project-details {
    width: 150px;
    margin: 0 auto;
  }
  section.recent-projects .project-container .project-details .project-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.recent-projects .project-container .project-details .project-summary {
    text-align: left;
  }
  section.recent-projects .carousel .carousel-actions button {
    font-size: .7em;
  }
  section .thankyou-page .thankyou {
    font-size: 1.4em;
  }
  section.portfolio h3 {
    font-size: 1em;
  }
  section.portfolio .projects .project .overlay-text {
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.portfolio .projects .project img {
    width: 180px;
    cursor: pointer;
  }
  section.portfolio .quote {
    font-size: .7em;
  }
  section.services h1 {
    font-size: 1.2em;
  }
  section.services .serviceslist .servicesall .service .service-icon {
    margin-top: 2.5em;
    width: 2em;
  }
  section.services .serviceslist .servicesall .service .service-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 1em;
  }
  section.services .serviceslist .servicesall .service .service-text {
    margin: 2em 1em;
    font-size: .7em;
  }
  section.services .service-cta .primary-cta {
    font-size: 1.9em;
    text-align: left;
    font-weight: 800;
    margin-bottom: -1.2em;
  }
  section.services .service-cta .secondary-cta {
    font-size: 1.9em;
    font-weight: 800;
    text-align: right;
    color: #993399;
  }
  section.about .about-x .about-title {
    font-size: 1em;
  }
  section.about .about-x .about-slogan {
    font-size: .7em;
    margin-top: 0;
  }
  section.about .about-x .about-text {
    font-size: .7em;
  }
  section.growth-program .container .info .info-title {
    font-size: 1em;
    margin-top: 0;
  }
  section.growth-program .container .info-slogan {
    font-size: .7em;
    margin-top: 0;
    margin-bottom: 2em;
  }
  section.growth-program .container .info-text {
    font-size: .7em;
  }
  section.growth-program .container .attention {
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 2em;
  }
  section.growth-program .conditions .conditions-title {
    font-weight: 700;
    font-size: 1em;
  }
  section.growth-program .conditions .conditions-text {
    font-size: .7em;
  }
  section.growth-program .conditions .conditions-text a {
    font-weight: 600;
  }
  section.growth-program .conditions .conditions-text a:hover {
    color: #993399;
  }
  section.growth-program .application-approval {
    margin-bottom: 2em;
  }
  section.growth-program .application-approval .approval-title {
    font-weight: 700;
    font-size: 1em;
  }
  section.growth-program .application-approval .approval-text {
    margin-bottom: 2em;
    font-size: .7em;
  }
  section.growth-program .application-approval a {
    font-size: .7em;
  }
  section.growth-program .application-approval a:hover {
    font-size: .8em;
  }
  .application-header {
    font-size: 1em;
  }
  .pay-title {
    font-size: 1em;
  }
  section.payment {
    margin: auto;
  }
  section.payment a {
    font-size: .7em;
    padding: 1.4em;
    line-height: 1em;
  }
  section.payment a:hover {
    font-size: .5em;
    padding: 1.7em;
  }
  section.payment .program-payment {
    margin-top: 3em;
  }
  .pay-notice {
    font-size: .6em;
    margin-bottom: 0em;
  }
  .contact-header .contact-title1 {
    font-size: 1em;
    margin: 1em 1em;
  }
  .contact-header .contact-cta {
    margin: 0 1em;
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.privacy h1,
  section.privacy h2 {
    font-size: .7em;
  }
  section.privacy p,
  section.privacy ul,
  section.privacy li {
    font-size: .7em;
  }
  section.termsofuse h2 {
    font-size: .7em;
  }
  section.termsofuse p,
  section.termsofuse ul,
  section.termsofuse li {
    font-size: .7em;
  }
  footer {
    margin-top: 1em;
  }
  footer a {
    font-size: .7em;
  }
  footer .footer-container {
    padding: 0;
  }
  footer .copyright .copyright-img {
    width: .7em;
  }
  footer .copyright .copyright-text {
    font-size: .7em;
  }
  footer .social {
    padding: 0 1em;
  }
}

@media screen and (min-width: 480px) {
  section {
    padding: 0 1em;
  }
  .pageline-img {
    padding: .3em 0em 0em .5em;
  }
  .navbar .logo {
    font-size: 1.2em;
  }
  section.hero .mainhead {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  section.hero .hero-img {
    width: 67.5%;
  }
  section.hero .hero-cta {
    font-size: 1em;
  }
  img.pageline-img {
    width: 80%;
  }
  section.choose-us .container h2 {
    font-size: 1.2em;
  }
  section.choose-us .container .chooseus-text {
    font-size: 1em;
    line-height: 18px;
  }
  section.choose-us .container .chooseus-img {
    width: 300px;
  }
  section.choose-us .container .ourspeciality {
    font-weight: 600;
    font-size: 0.8em;
  }
  section.choose-us .offers-cta .primaryoffers-cta {
    font-size: 1em;
  }
  section.choose-us .offers-cta .learnmore-img {
    padding-left: 0.3em;
  }
  a.viewall {
    font-size: 1em;
  }
  .contact-header p.contact-title1 {
    font-size: 1.5em;
    margin: .5em;
  }
  .contact-header p.contact-cta {
    font-size: 1em;
  }
  .backhome {
    margin-top: 2em;
  }
  .backhome a {
    font-size: 1em;
  }
  .backhome a:hover {
    color: var(--primary-color);
  }
  section.recent-projects h3 {
    text-align: center;
  }
  section.recent-projects .project-container {
    text-align: center;
    margin-bottom: 30px;
    font-size: 10px;
  }
  section.recent-projects .project-container .project-img > img {
    width: 180px;
    margin-bottom: 20px;
  }
  section.recent-projects .project-container .project-details {
    width: 180px;
    margin: 0 auto;
  }
  section.recent-projects .project-container .project-details .project-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.recent-projects .project-container .project-details .project-summary {
    text-align: left;
  }
  section.recent-projects .carousel .carousel-actions button {
    font-size: 1em;
  }
  section .thankyou-page .thankyou {
    font-size: 1.4em;
  }
  section.portfolio h3 {
    font-size: 1.2em;
  }
  section.portfolio .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.portfolio .quote {
    font-size: 1em;
  }
  section.services h1 {
    font-size: 3em;
    padding: 0em 1.2em;
    line-height: 1.2em;
  }
  section.services .serviceslist .servicesall .service .service-icon {
    margin-top: 1em;
    width: 4em;
  }
  section.services .serviceslist .servicesall .service .service-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 1.2em;
  }
  section.services .serviceslist .servicesall .service .service-text {
    margin: 2em 1em;
    font-size: 1em;
  }
  section.services .service-cta .primary-cta {
    font-size: 4em;
    text-align: left;
    font-weight: 800;
    margin-bottom: -1.2em;
  }
  section.services .service-cta .secondary-cta {
    font-size: 4em;
    font-weight: 800;
    text-align: right;
    color: #993399;
  }
  section.about .about-x .about-title {
    font-size: 2em;
    margin-bottom: .5em;
  }
  section.about .about-x .about-slogan {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  section.about .about-x .about-text {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  section.growth-program .container .info .info-title {
    font-size: 1.5em;
    margin-top: 0;
  }
  section.growth-program .container .info-slogan {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 2em;
  }
  section.growth-program .container .info-text {
    font-size: 1em;
  }
  section.growth-program .container .attention {
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 2em;
  }
  section.growth-program .conditions .conditions-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .conditions .conditions-text {
    font-size: 1em;
  }
  section.growth-program .conditions .conditions-text a {
    font-weight: 600;
  }
  section.growth-program .conditions .conditions-text a:hover {
    color: #993399;
  }
  section.growth-program .application-approval {
    margin-bottom: 2em;
  }
  section.growth-program .application-approval .approval-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .application-approval .approval-text {
    margin-bottom: 2em;
    font-size: 1em;
  }
  section.growth-program .application-approval a {
    font-size: 1em;
  }
  section.growth-program .application-approval a:hover {
    font-size: .8em;
  }
  .application-header {
    font-size: 1.5em;
  }
  .pay-title {
    font-size: 2em;
  }
  section.payment {
    margin: auto;
  }
  section.payment a {
    font-size: .9em;
    padding: 1.4em;
    line-height: 1em;
  }
  section.payment a:hover {
    font-size: .7em;
    padding: 1.7em;
  }
  section.payment .program-payment {
    margin-top: 3em;
  }
  .pay-notice {
    font-size: .6em;
    margin-bottom: 0em;
  }
  .contact-header .contact-title1 {
    font-size: 1em;
    margin: 1em 1em;
  }
  .contact-header .contact-cta {
    margin: 0 1em;
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.privacy h1,
  section.privacy h2 {
    font-size: 1.5em;
  }
  section.privacy p,
  section.privacy ul,
  section.privacy li {
    font-size: 1em;
  }
  section.termsofuse h2 {
    font-size: 1.5em;
  }
  section.termsofuse p,
  section.termsofuse ul,
  section.termsofuse li {
    font-size: 1em;
  }
  footer {
    margin-top: 1em;
  }
  footer a {
    font-size: 1em;
  }
  footer .footer-container {
    padding: 0;
  }
  footer .copyright .copyright-img {
    width: .7em;
  }
  footer .copyright .copyright-text {
    font-size: 1em;
  }
  footer .social {
    padding: 0 4em;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 1em;
  }
  .pageline-img {
    padding: .3em 0em 0em .5em;
  }
  .navbar .logo {
    font-size: 1.2em;
  }
  section.hero .hero-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.hero .mainhead {
    font-size: 1.8em;
    line-height: 1.2em;
    text-align: left;
    margin-top: 5em;
    padding-right: 3em;
    margin-left: .3em;
  }
  section.hero .hero-img {
    width: 16em;
    -webkit-transform: translate(6.1%, 40px);
            transform: translate(6.1%, 40px);
  }
  section.hero .hero-cta {
    font-size: 1em;
    margin-top: -1.8em;
    margin-left: .5em;
  }
  img.pageline-img {
    width: 80%;
  }
  section.choose-us .container h2 {
    font-size: 1.5em;
  }
  section.choose-us .container .chooseus-text {
    font-size: 1em;
    line-height: 22px;
    margin: 1em 5em;
  }
  section.choose-us .container .chooseus-img {
    width: 300px;
  }
  section.choose-us .container .ourspeciality {
    font-weight: 600;
    font-size: 0.7em;
    margin: 1em 9em;
  }
  section.choose-us .offers-cta .primaryoffers-cta {
    font-size: 1em;
  }
  section.choose-us .offers-cta .learnmore-img {
    padding-left: 0.3em;
  }
  section.offers .offers-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  a.viewall {
    font-size: 1em;
  }
  .contact-header {
    padding: 0 1em;
  }
  .contact-header p.contact-title1 {
    font-size: 2.2em;
    margin: .5em;
    margin-top: 1.2em;
  }
  .contact-header p.contact-cta {
    font-size: 1.1em;
    margin-top: 1em;
  }
  .backhome {
    margin-top: 2em;
  }
  .backhome a {
    font-size: 1em;
  }
  .backhome a:hover {
    color: var(--primary-color);
  }
  section.recent-projects h3 {
    text-align: center;
  }
  section.recent-projects .project-container {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
  }
  section.recent-projects .project-container .project-img > img {
    width: 350px;
    margin-bottom: 20px;
  }
  section.recent-projects .project-container .project-details {
    width: 350px;
    margin: 0 auto;
  }
  section.recent-projects .project-container .project-details .project-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.recent-projects .project-container .project-details .project-summary {
    text-align: left;
  }
  section.recent-projects .carousel .carousel-actions button {
    font-size: 1.2em;
  }
  section .thankyou-page .thankyou {
    font-size: 1.4em;
  }
  section.portfolio h3 {
    font-size: 2em;
  }
  section.portfolio .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  section.portfolio .projects .project .overlay-text {
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.portfolio .projects .project img {
    width: 180px;
    cursor: pointer;
  }
  section.portfolio .quote {
    font-size: 1em;
  }
  section.services h1 {
    font-size: 3.3em;
    padding: 0em 4em;
    line-height: 1.2em;
  }
  section.services .serviceslist .servicesall .service {
    padding: 0 5em;
  }
  section.services .serviceslist .servicesall .service .service-icon {
    margin-top: 1em;
    width: 5em;
  }
  section.services .serviceslist .servicesall .service .service-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 1.5em;
  }
  section.services .serviceslist .servicesall .service .service-text {
    margin: 2em 1em;
    font-size: 1.2em;
  }
  section.services .service-cta .primary-cta {
    font-size: 6em;
    text-align: left;
    font-weight: 800;
    margin-bottom: -1.2em;
  }
  section.services .service-cta .secondary-cta {
    font-size: 6em;
    font-weight: 800;
    text-align: right;
    color: #993399;
  }
  section.about .about-x {
    padding: 0 .5em;
    padding-right: 6em;
  }
  section.about .about-x .about-title {
    font-size: 2em;
    margin-bottom: .5em;
  }
  section.about .about-x .about-slogan {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  section.about .about-x .about-text {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  section.contact .contact-form {
    width: 380px;
  }
  section.contact .contact-form .container form input {
    width: 380px;
    height: 40px;
  }
  section.contact .contact-form .container form label.subject,
  section.contact .contact-form .container form .budget,
  section.contact .contact-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.contact .contact-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.contact .contact-form .container form textarea {
    width: 360px;
  }
  section.growth-program .container .info .info-title {
    font-size: 2em;
    margin-top: 1em;
  }
  section.growth-program .container .info-slogan {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 2em;
  }
  section.growth-program .container .info-text {
    font-size: 1em;
  }
  section.growth-program .container .attention {
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 2em;
  }
  section.growth-program .conditions .conditions-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .conditions .conditions-text {
    font-size: 1em;
  }
  section.growth-program .conditions .conditions-text a {
    font-weight: 600;
  }
  section.growth-program .conditions .conditions-text a:hover {
    color: #993399;
  }
  section.growth-program .application-approval {
    margin-bottom: 2em;
  }
  section.growth-program .application-approval .approval-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .application-approval .approval-text {
    margin-bottom: 2em;
    font-size: 1em;
  }
  section.growth-program .application-approval a {
    font-size: 1em;
  }
  section.growth-program .application-approval a:hover {
    font-size: .8em;
  }
  .application-header {
    font-size: 1.5em;
  }
  .pay-title {
    font-size: 2em;
  }
  section.application .application-form {
    width: 380px;
  }
  section.application .application-form .container form input {
    width: 380px;
    height: 40px;
  }
  section.application .application-form .container form label.subject,
  section.application .application-form .container form .budget,
  section.application .application-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.application .application-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.application .application-form .container form textarea {
    width: 360px;
  }
  section.payment {
    margin: auto;
  }
  section.payment a {
    font-size: 1.2em;
    padding: 1.4em;
    line-height: 1em;
  }
  section.payment a:hover {
    font-size: .7em;
    padding: 1.7em;
  }
  section.payment .program-payment {
    margin-top: 5em;
  }
  .pay-notice {
    font-size: .6em;
    margin-bottom: 0em;
  }
  .contact-header .contact-title1 {
    font-size: 1em;
    margin: 1em 1em;
  }
  .contact-header .contact-cta {
    margin: 0 1em;
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.privacy h1,
  section.privacy h2 {
    font-size: 1.5em;
  }
  section.privacy p,
  section.privacy ul,
  section.privacy li {
    font-size: 1em;
  }
  section.termsofuse h2 {
    font-size: 1.5em;
  }
  section.termsofuse p,
  section.termsofuse ul,
  section.termsofuse li {
    font-size: 1em;
  }
  footer {
    margin-top: 1em;
  }
  footer a {
    font-size: 1em;
  }
  footer .footer-container {
    padding: 0;
  }
  footer .copyright .copyright-img {
    width: .7em;
  }
  footer .copyright .copyright-text {
    font-size: 1em;
  }
  footer .social {
    padding: 0 4em;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 0 1em;
  }
  .pageline-img {
    padding: .3em 0em 0em .5em;
  }
  .navbar .logo {
    font-size: 1.2em;
  }
  section.hero .hero-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.hero .mainhead {
    font-size: 3em;
    line-height: 1.2em;
    text-align: left;
    margin-top: 3em;
    padding-right: 5em;
    margin-left: .3em;
  }
  section.hero .hero-img {
    width: 21em;
    -webkit-transform: translate(4.4%, 80px);
            transform: translate(4.4%, 80px);
  }
  section.hero .hero-cta {
    font-size: 1em;
    margin-top: -1.8em;
    margin-left: .5em;
  }
  img.pageline-img {
    width: 80%;
  }
  section.choose-us .container h2 {
    font-size: 1.5em;
  }
  section.choose-us .container .chooseus-text {
    font-size: 1.5em;
    line-height: 30px;
    margin: 2em 5em;
  }
  section.choose-us .container .chooseus-img {
    width: 500px;
  }
  section.choose-us .container .ourspeciality {
    font-weight: 600;
    font-size: 0.7em;
    margin: 1em 20em;
  }
  section.choose-us .offers-cta .primaryoffers-cta {
    font-size: 1em;
  }
  section.choose-us .offers-cta .learnmore-img {
    padding-left: 0.3em;
  }
  a.viewall {
    font-size: 1em;
  }
  .contact-header {
    padding: 0 1em;
  }
  .contact-header p.contact-title1 {
    font-size: 22px;
    margin: .5em;
    margin-top: 1.2em;
  }
  .contact-header p.contact-cta {
    font-size: 1.1em;
    margin-top: 1em;
  }
  .backhome {
    margin-top: 2em;
  }
  .backhome a {
    font-size: 1em;
  }
  .backhome a:hover {
    color: var(--primary-color);
  }
  section.contact {
    margin: 0 auto;
  }
  section.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  section.contact .contact-container .form-image {
    display: block;
    margin-top: 150px;
  }
  section.contact .contact-container .form-image img {
    width: 500px;
  }
  section.contact .contact-form {
    width: 300px;
    margin: 0;
  }
  section.contact .contact-form .container form input {
    width: 300px;
    height: 40px;
  }
  section.contact .contact-form .container form label.subject,
  section.contact .contact-form .container form .budget,
  section.contact .contact-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.contact .contact-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.contact .contact-form .container form textarea {
    width: 280px;
  }
  section .thankyou-page .thankyou {
    font-size: 1.4em;
  }
  section.portfolio h3 {
    font-size: 2em;
  }
  section.portfolio .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  section.portfolio .projects .project .overlay-text {
    font-size: 1.5em;
  }
  section.portfolio .projects .project img {
    width: 300px;
    cursor: pointer;
  }
  section.services h1 {
    font-size: 5em;
    padding: 0em 3em;
    line-height: 1.2em;
  }
  section.services .serviceslist .servicesall .service {
    padding: 0 5em;
  }
  section.services .serviceslist .servicesall .service .service-icon {
    margin-top: 1em;
    width: 5em;
  }
  section.services .serviceslist .servicesall .service .service-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 1.5em;
  }
  section.services .serviceslist .servicesall .service .service-text {
    margin: 2em 1em;
    font-size: 1.2em;
  }
  section.services .service-cta .primary-cta {
    font-size: 8em;
    text-align: left;
    font-weight: 800;
    margin-bottom: -1.2em;
  }
  section.services .service-cta .secondary-cta {
    font-size: 8em;
    font-weight: 800;
    text-align: right;
    color: #993399;
  }
  section.about .about-x {
    padding: 0 .5em;
    padding-right: 6em;
  }
  section.about .about-x .about-title {
    font-size: 3em;
    margin-bottom: .2em;
  }
  section.about .about-x .about-slogan {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  section.about .about-x .about-text {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  section.growth-program .container .info .info-title {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  section.growth-program .container .info-slogan {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 2em;
  }
  section.growth-program .container .info-text {
    font-size: 1.2em;
  }
  section.growth-program .container .attention {
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 2em;
  }
  section.growth-program .conditions .conditions-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .conditions .conditions-text {
    font-size: 1em;
  }
  section.growth-program .conditions .conditions-text a {
    font-weight: 600;
  }
  section.growth-program .conditions .conditions-text a:hover {
    color: #993399;
  }
  section.growth-program .application-approval {
    margin-bottom: 2em;
  }
  section.growth-program .application-approval .approval-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  section.growth-program .application-approval .approval-text {
    margin-bottom: 2em;
    font-size: 1em;
  }
  section.growth-program .application-approval a {
    font-size: 1em;
  }
  section.growth-program .application-approval a:hover {
    font-size: .8em;
  }
  .application-header {
    font-size: 2em;
  }
  .pay-title {
    font-size: 2em;
  }
  section.application {
    margin: 0 auto;
  }
  section.application .application-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  section.application .application-container .form-image {
    display: block;
    margin-top: 150px;
  }
  section.application .application-container .form-image img {
    width: 500px;
  }
  section.application .application-form {
    width: 300px;
    margin: 0;
  }
  section.application .application-form .container form input {
    width: 300px;
    height: 40px;
  }
  section.application .application-form .container form label.subject,
  section.application .application-form .container form .budget,
  section.application .application-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.application .application-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.application .application-form .container form textarea {
    width: 280px;
  }
  section.payment {
    margin: auto;
  }
  section.payment a {
    font-size: 1.2em;
    padding: 1.4em;
    line-height: 1em;
  }
  section.payment a:hover {
    font-size: .7em;
    padding: 1.7em;
  }
  section.payment .program-payment {
    margin-top: 5em;
  }
  .pay-notice {
    font-size: .6em;
    margin-bottom: 0em;
  }
  .contact-header .contact-title1 {
    font-size: 1em;
    margin: 1em 1em;
  }
  .contact-header .contact-cta {
    margin: 0 1em;
    margin-bottom: 1em;
    font-size: .7em;
  }
  section.privacy h1,
  section.privacy h2 {
    font-size: 1.5em;
  }
  section.privacy p,
  section.privacy ul,
  section.privacy li {
    font-size: 1em;
  }
  section.termsofuse h2 {
    font-size: 1.5em;
  }
  section.termsofuse p,
  section.termsofuse ul,
  section.termsofuse li {
    font-size: 1em;
  }
  footer {
    margin-top: 1em;
  }
  footer a {
    font-size: 1em;
  }
  footer .footer-container {
    padding: 0;
  }
  footer .copyright .copyright-img {
    width: .7em;
  }
  footer .copyright .copyright-text {
    font-size: 1em;
  }
  footer .social {
    padding: 0 4em;
  }
}

@media screen and (min-width: 1200px) {
  section.contact {
    margin: 0 auto;
  }
  section.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    margin-top: 20px;
  }
  section.contact .contact-container .form-image {
    display: block;
    margin-top: 150px;
  }
  section.contact .contact-container .form-image img {
    width: 700px;
  }
  section.contact .contact-form {
    width: 300px;
    margin: 0;
  }
  section.contact .contact-form .container form input {
    width: 300px;
    height: 40px;
  }
  section.contact .contact-form .container form label.subject,
  section.contact .contact-form .container form .budget,
  section.contact .contact-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.contact .contact-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.contact .contact-form .container form textarea {
    width: 280px;
  }
  section.application {
    margin: 0 auto;
  }
  section.application .application-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    margin-top: 20px;
  }
  section.application .application-container .form-image {
    display: block;
    margin-top: 150px;
  }
  section.application .application-container .form-image img {
    width: 800px;
  }
  section.application .application-form {
    width: 300px;
    margin: 0;
  }
  section.application .application-form .container form input {
    width: 300px;
    height: 40px;
  }
  section.application .application-form .container form label.subject,
  section.application .application-form .container form .budget,
  section.application .application-form .container form .file {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-left: .3em;
  }
  section.application .application-form .container form input[type="submit"] {
    width: 90px;
    height: 3em;
    font-size: 18px;
  }
  section.application .application-form .container form textarea {
    width: 280px;
  }
}
/*# sourceMappingURL=main.css.map */